
<!-- 样式模块 -->
<link href="style/index/profiloItemDetail.css" rel="stylesheet">

<!-- 标题 -->
<div class="detailWorkTitle">
    <p class="detailWorkTitleCh"></p>
    <p class="detailWorkTitleEn"></p>
</div>

<!-- 作品内容 -->
<div class="profiloDetail">

</div>

<!-- 返回上一页 -->
<div class="back">返回上一页</div>
<script>

    $(()=>{
        // 绑定返回按键
        $(".back").click(back);
    });

    // 返回上一页
    function back() {
        $("#contentArea").removeClass("hidden");
        $(".deatailArea").addClass("hidden");
    }

</script>