<style>

    .detailWorkTitle{
        width: 50vw;
        text-align: left;
    }

    .detailWorkTitleCh{
        font-size: 1.2vw;
        text-align: left;
    }
    .detailWorkTitleEn{
        font-size: 1vw;
        text-align: left;
        color: #666666;
    }

    .profiloDetail{
        width: 50vw;
        min-height: 500px;
    }

</style>

<!-- 标题 -->
<div class="detailWorkTitle">
    <p class="detailWorkTitleCh"></p>
    <p class="detailWorkTitleEn"></p>
</div>

<!-- 作品内容 -->
<div class="profiloDetail">

</div>