
<!--  样式模块  -->
<link href="style/manager/updateProfiloPage.css" rel="stylesheet">

<!-- 输入作品名字 -->
<div class="nameDiv addDiv">

    <!-- 小标题 -->
    <p class="divTitle">作品名字</p>

    <input class="profiloNameCh form" type="text" placeholder="请输入中文名" data-ispass="1"/>

    <input class="profiloNameEn form" type="text" placeholder="请输入英文名" data-ispass="1"/>
</div>

<!-- 上传封面图 -->
<div class="picDiv addDiv">

    <!-- 小标题 -->
    <p class="divTitle">作品封面图</p>

    <!-- 图片框容器 -->
    <div class="preImgDiv">

        <!-- 按钮容器 -->
        <div class="buttomDiv hidden layer2">

            <!-- 上传按钮 -->
            <div class="doUpLoad publicPreImg layer3">上传图片</div>

            <!-- 清除按钮 -->
            <div class="clean publicPreImg layer3">清除图片</div>

            <!-- 背景蒙版 -->
            <div class="mask layer2"></div>

        </div>

        <!-- 图片 -->
        <img class="preImg"/>

        <!-- 隐藏按钮 -->
        <input class="hidden upLoadPreImg form" type="file" accept="image/jpeg,image/jpg,image/gif,image/x-png" data-ispass="1"/>

    </div>

    <!-- 提示信息 -->
    <p class="alertWord"> 尺寸规范：650px * 400px</p>

</div>

<!-- 输入作品分类 -->
<div class="addDiv">

    <!-- 小标题 -->
    <p class="divTitle">作品分类</p>

    <select name="一级分类" class="selection firstCate">

        <option value="-1" class="firstCateOption" disabled selected style='display:none;'>选择一级标签</option>

    </select>

    <select name="二级分类" class="selection secondCate">

        <option value="-1" class="secondCateOption" disabled selected style='display:none;'>选择二级标签(请先选择一级标签)</option>

    </select>

</div>

<!-- 输入作品其他信息 -->
<div class="addDiv">

    <!-- 小标题 -->
    <p class="divTitle">基本信息</p>

    <!--  选择设计形式  -->
    <select name="设计形式" class="selection desi">

        <option value="-1" class="desiOption" disabled selected style='display:none;'>选择设计形式</option>

    </select>

    <input class="updateTime" type="text" disabled="disabled" placeholder="最近修改：自动生成"/>

    <input class="createTime" type="text" disabled="disabled" placeholder="创建时间：自动生成"/>

</div>

<!-- 输入作品内容 -->
<div class="addDiv worksContent">

    <!-- 小标题 -->
    <p class="divTitle">作品内容</p>

    <div id="editor" class="form"></div>

</div>

<!-- 提交按钮 -->
<div class="addDiv">

    <div class="preLook lastButton">
        预览作品
    </div>

    <div class="submit lastButton">
        提交作品
    </div>

</div>

<!--  富文本插件  -->
<script src="/javaScript/common/wangEditor.min.js"></script>

<!--  添加商品的方法  -->
<script src="/javaScript/manager/updateProfiloPage.js"></script>

<script>

    // 就绪事件
    $(() => {

        // 富文本初始化
        startEditor();

        // 填入数据
        fillData();

        // 绑定上传封面的hover方法
        $(".preImgDiv").hover(hoverPreImg,outPreImg);

        // 点击上传图片
        $(".doUpLoad").click(uploadImg);

        // 图片上传完毕显示预览
        $(".upLoadPreImg").change(preImg);

        // 点击清除图片
        $(".clean").click(cleanImg);

        // 校验中文标题
        $(".profiloNameCh").blur(checkNameCh);

        // 校验英文标题
        $(".profiloNameEn").blur(checkNameEn);

        // 选择一级分类后加载二级分类
        $(".firstCate").change(addSecondCate);

        // 点击预览
        $(".preLook").click(doPreLook);

        // 点击提交
        $(".submit").click(doSubmit);

    });

</script>