/* =============================> 条件筛选部分 <============================= */

/* 大模块样式 */
.addDiv{
    margin: 25px auto;
}

/* 查询条件公共样式 */
.queryItem{
    width: 120px;
    height:20px;
    margin: 0 10px;
    display: inline-block;
}

/* 点击查询 */
.doQuery{
    color: #666666;
    height: 26px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 26px;
    cursor: pointer;
}
.doQuery:hover{
    color: #000000;
}
.doQuery:active{
    box-shadow: 1px 1px 2px #dddddd inset;
    font-size: 12px;
}

/* =============================> 表格部分 <============================= */

/* 整表样式 */
.tableArea{
    border-collapse: collapse;
    border-spacing: 0px;
}

/* 所有单元格的样式 */
.tableArea td{
    border: #dddddd solid 1px;
}

/* 表头部分样式 */
.tableTitle{
    width: 300px;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    font-weight: bold;
}

/* 删除所选 */
.deleteChecked{
    display: inline-block;
    color: #ffffff;
    font-size: 13px;
    line-height: 20px;
    cursor: pointer;
    height: 20px;
    width: 70px;
    background-color: #fc6161;
    border-radius: 5px;
}
.deleteChecked:hover{
    background-color: red;
}
.deleteChecked:active{
    box-shadow: 1px 1px 2px #dddddd inset;
    font-size: 12px;
    line-height: 20px;
}

/* 表内容样式 */
.tableContent{
    width: 300px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: #666666;
}

/* 表内容输入框 */
.contentInput{
    width: 100%;
    height: 38px;
    border-style: none;
    padding: 0px;
    font-size: 14px;
    color: #666666;
}

/* 内容编辑按钮 */
.contentButton{
    display: inline-block;
    color: #ffffff;
    font-size: 13px;
    line-height: 20px;
    cursor: pointer;
    height: 20px;
    width: 50px;
    background-color: #fc6161;
    border-radius: 5px;
}
.contentButton:hover{
    filter: brightness(1.1);
}
.contentButton:active{
    box-shadow: 1px 1px 2px #dddddd inset;
    font-size: 12px;
    line-height: 20px;
}
/* 删除按钮 */
.deleteThis{
    background-color: #fc6161;
    margin: 0 10px;
}
/* 修改和保存按钮 */
.updateThis,.saveUpdate{
    background-color: rgba(23, 174, 3, 0.72);
}