<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到王冰潇的个人网站</title>

    <!--  全局css  -->
    <link href="style/globalStyle.css" rel="stylesheet">

    <!-- 样式模块 -->
    <link href="style/index/index.css" rel="stylesheet">

</head>
<body>

    <!-- 首页banner区 -->
    <div id="bannerArea" class="level1">
        <!-- 导航 -->
        <div class="navArea">
            <!-- <div class="nav" data-id="">首页</div> -->
        </div>
    </div>

    <!-- 首页内容区 -->
    <div id="contentArea" class="level1"></div>
    <div class="deatailArea hidden"></div>

    <!-- footer区 -->
    <div id="footerArea" class="level1">

        <!-- footer图片 -->
        <img class="footerImg" src="/image/index/desgin%20by%20tom.png"/>

        <!-- Email -->
        <p class="email">E-mail:708970258@qq.com</p>

        <!-- 备案号 -->
        <a href="https://beian.miit.gov.cn"><p class="sbNum" style=" margin-top: 0.687vw;font-size: 0.93vw;color: #666666;line-height: 0.95vw;">备案号:沪ICP备19028565号</p></a>

    </div>

    <!--  jQuery  -->
    <script src="/javaScript/common/jquery-3.4.1.min.js"></script>

    <!--  全局数据对象  -->
    <script src="/javaScript/globalData.js"></script>

    <!--  全局页面url对象  -->
    <script src="/javaScript/globalPath.js"></script>

    <!--  全局工具包  -->
    <script src="/javaScript/globalUntils.js"></script>

    <!--  全局数据接口  -->
    <script src="/javaScript/globalInterface.js"></script>

    <!--  首页使用的方法  -->
    <script src="/javaScript/index/indexMethod.js"></script>

    <script>

        // 就绪事件
        $(() => {

            // 加载导航内分类
            loadNavCate();
            // 在内容区加载首页
            $("#contentArea").load(globalPath.indexPath);

            // 点击导航块跳转到二级页面
            $(".navArea").on("click",".nav",clickNav);

            // 点击作品进入作品详情
            $("#contentArea").on("click",".profileItem",toprofiloDetail);

        });
    </script>
</body>
</html>