<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>欢迎登陆</title>

    <!--  样式模块  -->
    <link href="style/login.css" rel="stylesheet">

</head>
<body>

<div class="loginTitle">
    <p class="titleCh">欢迎登陆</p>
    <p class="titleEn">W e l c o m e&nbsp;&nbsp;L o g i n</p>
</p>
</div>

<div class="inPutDiv">
    <input class="input userName" type="text" placeholder="输入手机号" autocomplete="off"/>
    <input class="input userPassword" type="password" placeholder="输入密码" autocomplete="off"/>
    <div class="doLoginDiv"><input class="rememberMe" type="checkbox" placeholder="记住我"/>&nbsp;记住我&nbsp;&nbsp;<div class="button">登&nbsp;&nbsp;陆</div></div>
</div>
</body>

<!--  jQuery  -->
<script src="/javaScript/common/jquery-3.4.1.min.js"></script>

<!--  全局数据接口  -->
<script src="/javaScript/globalInterface.js"></script>

<!--  全局工具包  -->
<script src="/javaScript/globalUntils.js"></script>

<!--  全局页面url对象  -->
<script src="/javaScript/globalPath.js"></script>

<!--  登陆页方法  -->
<script src="/javaScript/log/login.js"></script>

<script>

    $(() => {
        // 点击登陆
        $(".button").click(doLogIn);
    });

</script>
</html>