<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--  全局css  -->
    <link href="style/globalStyle.css" rel="stylesheet">

    <!--  样式模块  -->
    <link href="style/manager/manager.css" rel="stylesheet">

</head>
<body>

    <!-- 第一层弹窗蒙版 -->
    <div class="layer3 hidden popupMask"></div>

    <!-- 第一层弹窗模块 -->
    <div class="layer4 hidden popup">
        <!-- 弹窗顶部内容区 -->
        <div class="popupTop">
            <!-- 弹窗标题 -->
            <p class="popupTitle">弹窗内容标题</p>
            <!-- 右侧关闭按钮 -->
            <div class="popupClose">
                <!-- 竖条 -->
                <div class="popupCloseVertical"></div>
                <!-- 横条 -->
                <div class="popupCloseLevel"></div>
            </div>
        </div>
        <!-- 第一层弹窗内容区 -->
        <div class="popupInner"></div>
    </div>

    <!-- 第二层弹窗蒙版 -->
    <div class="layer5 hidden popupMask2"></div>

    <!-- 第二层弹窗模块 -->
    <div class="layer6 hidden popup2">
        <!-- 弹窗顶部内容区 -->
        <div class="popupTop">
            <!-- 弹窗标题 -->
            <p class="popupTitle2">弹窗内容标题</p>
            <!-- 右侧关闭按钮 -->
            <div class="popupClose">
                <!-- 竖条 -->
                <div class="popupCloseVertical"></div>
                <!-- 横条 -->
                <div class="popupCloseLevel"></div>
            </div>
        </div>
        <!-- 第二层弹窗内容区 -->
        <div class="popupInner2"></div>
    </div>

    <!--  顶部登陆用户的信息  -->
    <div class="topUserInfoArea managerDIv">

        <!--  顶部标题  -->
        <p class="pageTitle"><b>&emsp;&emsp;&emsp;&emsp;&emsp;Tom Wang--</b>个人主页后台管理系统</p>

        <!--  用户信息容器  -->
        <div class="userInfoDiv">

            <!--  头像容器  -->
            <div class="headerDiv">
                <img th:src="@{${user.userHeaderPath}}">
            </div>
            <!--  用户名  -->
            <p class="userName" th:text="${user.userName}"></p>

        </div>


    </div>

    <!--  左侧选项菜单  -->
    <div class="leftTagsArea managerDIv">

        <!--  选项区标题  -->
        <p class="tagsTitle">管理选项</p>

        <div class="tagDiv">
            <p class="title1"><b>·</b>作品管理</p>
            <p class="title2 hidden" data-url="/managerInner/updateProfilo">修改作品</p>
            <p class="title2 hidden" data-url="/managerInner/addProfilo">添加作品</p>
        </div>

        <div class="tagDiv">
            <p class="title1"><b>·</b>分类管理</p>
            <p class="title2 hidden" data-url="/managerInner/updateCate">修改分类</p>
            <p class="title2 hidden" data-url="/managerInner/addCate">添加分类</p>
        </div>

        <div class="tagDiv">
            <p class="title1"><b>·</b>形式管理</p>
            <p class="title2 hidden" data-url="/managerInner/updateDesi">修改形式</p>
            <p class="title2 hidden" data-url="/managerInner/addDesi">添加形式</p>
        </div>

        <!--  退出登陆  -->
        <p class="logout">退出登陆</p>

    </div>

    <!--  右侧内容区  -->
    <div class="rightInnerArea managerDIv"></div>

</body>

<!--  jQuery  -->
<script src="/javaScript/common/jquery-3.4.1.min.js"></script>

<!--  全局数据对象  -->
<script src="/javaScript/globalData.js"></script>

<!--  全局页面url对象  -->
<script src="/javaScript/globalPath.js"></script>

<!--  全局工具包  -->
<script src="/javaScript/globalUntils.js"></script>

<!--  全局数据接口  -->
<script src="/javaScript/globalInterface.js"></script>

<!--  管理页面首页方法  -->
<script src="/javaScript/manager/managerIndex.js"></script>

<script>

    // 就绪事件
    $(() => {

        // 点击一级选项
        $(".title1").click(clickTitle1);

        // 点击二级选项
        $(".title2").click(clickTitle2);

        // 点击退出登陆
        $(".logout").click(doLogOut);

        // 点击关闭弹窗
        $(".popupClose").click(popupClose);

    });

</script>

</html>