*{
    text-align: center;
    color: #666666;
    margin: 0 auto;
    font-family: "苹方-简";
    font-family: "PingFang SC";
    font-family: "Microsoft YaHei";
    font-family: "微软雅黑";
}

/* 标题容器 */
.loginTitle{
    margin-top: 15%;
    width: 15%;
}

/* 中文字 */
.titleCh{
    font-size: 3vw;
    text-align-last: justify;
}

/* 英文字 */
.titleEn{
    font-size: 1vw;
    text-align-last: justify;
    color: #999999;
}

/* 表单容器 */
.inPutDiv{
    margin-top: 3vw;
}

/* 输入框公共样式 */
input{
    margin-top: 1vw;
    border-style: none;
}

/* 用户名和密码 */
.input{
    width: 10vw;
    height: 2vw;
    display: block;
    box-shadow: 1px 1px 2px #cccccc inset;
}

/* 登陆按钮容器 */
.doLoginDiv{
    width: 10vw;
    height: 2vw;
    position: relative;
}

/* 登陆按钮容器 */
.rememberMe{
    display: inline-block;
    left: 0;
}
.button{
    display: inline-block;
    right: 0;
    width: 5vw;
    cursor: pointer;
    transition: 0.7s;
    font-size: 18px;
    line-height: 36px;
}
.button:hover{
    box-shadow: 1px 1px 2px #dddddd;
    transition: 0.7s;
}