<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.tom.clientview.dao.WorksDao">

    <select id="selectWorksByCateId" resultType="per.tom.clientview.vo.WorksVo">
        select a.works_id,a.works_name,a.cover_path,a.create_time,a.cate_id,a.desi_id,b.cate_id,b.cate_name cate_name,c.desi_id,c.desi_name desi_name
        from works a
        join category b on a.cate_id=b.cate_id
        join desi c on a.desi_id=c.desi_id
        where a.cate_id=#{cateId}
        order by a.create_time desc
        <if test="pageSize>0">
            limit #{startIndex},#{pageSize};
        </if>
    </select>

    <select id="selectWorksByCateIdArr" resultType="per.tom.clientview.vo.WorksVo">
        select a.works_id,a.works_name,a.cover_path,a.create_time,a.cate_id,a.desi_id,b.cate_id,b.cate_name cate_name,c.desi_id,c.desi_name desi_name
        from works a
        join category b on a.cate_id=b.cate_id
        join desi c on a.desi_id=c.desi_id
        where
        <foreach collection="cateIdArr" item="cateId" separator="or" >
            a.cate_id=#{cateId}
        </foreach>
        order by a.create_time desc
        <if test="pageSize>0">
            limit #{startIndex},#{pageSize};
        </if>
    </select>

    <select id="countWorksByCateId" resultType="java.lang.Integer">
        select count(*)
        from works
        where cate_id=#{cateId}
    </select>

    <select id="countWorksByCateIdArr" resultType="java.lang.Integer">
        select count(*)
        from works
        where
        <foreach collection="array" item="cateId" separator="or" >
            cate_id=#{cateId}
        </foreach>
    </select>

    <select id="getWorkByWorkId" resultType="per.tom.clientview.vo.WorksVo">
        select works_name,works_en_name,works_content from works where works_id=#{worksId};
    </select>


</mapper>